@charset "UTF-8";

@font-face {
	src: url("../fonts/DungGeunMo.ttf");
	font-family: "DungGeunMo";
}

*{	
	font-family: "DungGeunMo";
	font-size: 50px;	
	margin: 0;
	padding: 0;
	text-shadow: 4px 3px 0px #adac72;
}

a:link{
	text-decoration: none;
	color: #fff;
}

a:visited{
	text-decoration: none;
	color: #fff;
}

a:hover{
	text-decoration: none;
	color: #b3b007;
	text-shadow: 4px 3px 0px #78772f;
}

.main-body{
	-ms-overflow-style: none;
	background: #000;
}

/*스크롤바 없애기*/
::-webkit-scrollbar{
	display:none;
}

.container{
	display: flex;
	height: 100vh;
}

.main-logo{
	position: relative;
	background: #000;
	flex: 1;
}

.main-logoBox{
	width: 120px;
	height: 120px;
	background-image: url(../images/hyem/logo_background.png);
	position: absolute;
	top: 100px;
	right: 60px;
}

.main-background{
	position: relative;
	background: #000;
	flex: 1;
}

@media (max-height:686px){
	.main-background img{
		min-height: 600px;
	}
	
	.start{
		position: absolute;
		width: 100%;
		top: 25%;
		display: flex;
		justify-content: center;
	}
}

@media (min-height:687px){
	.main-background img{
		height: 100vh;
	}
	
	.start{
		position: absolute;
		width: 100%;
		top: 25%;
		display: flex;
		justify-content: center;
	}
}

.start-a{
	width: 40%;
	text-align: center;
}

.start-a a:nth-child(1){
	font-size: 80px;
}

.main-menu{
	background: #000;
	flex: 1;
	padding-left: 60px;
	padding-top: 100px;	
}

.main-menu ul{
	list-style: none;
}

.main-menu ul li{
	margin-bottom: 50px;
}