/* 전체 레이아웃
------------------------*/
body{
	width: 1000px;
	margin: 0 auto;
	/*background: #9673cd;*/
	background: #fff;
}

/* 검색 폼
--------------------- */
ul {
    list-style:none;
}
li {
    float: left;
}



/* 페이지 레이아웃
--------------------- */

/* 공통 메시지
-------------------- */

/* 공통 정렬
-------------------- */

/* 메뉴
------------------- */

/* 메인
---------------------- */