/* 전체 레이아웃
------------------------*/
@charset "UTF-8";

@font-face {
      src: url("../fonts/DungGeunMo.ttf");
      font-family: "DungGeunMo";
}

*{
	font-family: "DungGeunMo";
	margin: 0px;
	padding: 0px;
}

/* 게임 소개
--------------------- */
.page-main{
	min-height: 50vh;
}
.image-space{
	margin-top: 28px;
}
/* 검색 폼 */

form#search_form{
	border:none;
	margin-top: 18px;
    margin-bottom: 10px;
    height: 30px;
}
ul.search{
	width:50%;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	display:inline;
}
.adminbtn{
	background:#8aa1a1;
	color: white;
	border-style: none;
	cursor: pointer;
	margin-top:5px;
	padding:5px; 
	box-shadow: 3px 3px 3px rgb(73 73 73);
	position: relative;
    top: 2px;
    left: 852px;

    
}

/* 게임목록 */
.page-main{
	margin: 0 auto;
	width: 1000px;
}
.image-space .horizontal-area{
	margin: 5px 6px;
	padding:3px;
	padding-bottom:20px;
	width:220px;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.image-space .horizontal-area img{
    width:215px;
    height:195px;
    margin-bottom: 5px;
    /* box-shadow: 0 5px 5px grey; */
    border: 1px;

}
.image-space .float-clear{
	clear:both;
}
.image-space .horizontal-area a{
	text-decoration:none;
	color:black;
}
.image-space #delete_btn{
	/* background:#8aa1a1; */
	background: #bb2d3b;
	color: white;
	border-style: none;
	cursor: pointer;
	padding:5px; 
	box-shadow: 3px 3px 3px rgb(73 73 73);
}
.gname{
	font-size: 15;
}
/* 페이지 */
.align-center{
	text-align:center;
	margin: 10px auto;
}

/* 게임상세
-------------------- */
.a{
	margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    
}
.detailpage-main{
 	width: 1000px; 
	margin: 0 auto;
}
.detailpage-main h1{
 	margin: 10px auto;
}
.image-detail{
	text-align:center;
	margin: 0 auto;
} 
.image-detail img{/* 사진크기 */
	width:310px;
	height:270px;
	float:left;
	/* box-shadow: 0 10px 10px grey; */
	
}
.detailpage-main .game-detail{
	float:right;
	width: 65%;
	height:270px;
	margin: 0 auto;
	background:#E6E6E6;
	
}
.detailpage-main .game-detail #pro_count{
	white-space:pre-wrap;	
}
.game-detail #A{
	margin: 5px 17px;	
}
.game-detail #A .game-name{
	font-size: 25px;
}
.game-detail hr{
 	width: 95%; 
	margin: 0 auto;
	border : 0px;
	border-top : 2px solid  rgb(73 73 73);	
}
#cartbtn{
	background:#8aa1a1;
	color: white;
	border-style: none;
	cursor: pointer;
	padding:5px; 
	box-shadow: 3px 3px 3px rgb(73 73 73);
	float: rigth;
}
.game-detail .C{
	margin: 0 auto;
}
#item_cart{
	float: right;
    margin-right: 15px;
}
.game-detail .game-explanation{
	margin: 5px 17px;
}
.game-detail .game-explanation .ex{
	font-size: 13px;
    line-height: 22px;
    overflow: auto;
    max-height: 176px;
    margin: 5px 2px;
}
.game-detail .small-footer{
	margin: 5px 0px 5px 88px;
	font-size: 15px;
	
}
.ex{
	white-space:pre-wrap;
	background-color: rgba(158, 158, 158, 0.74);
	width: 600px;
	border-radius:15px;
	padding-left: 10px;
    padding-right: 10px;
}
.align-right{
	position: relative;
	width: 60px;
    bottom: 5px;
    position: relative;
    left: 950px;
    bottom: 6px;
}
#sbnt{
    border-radius: 0;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 3px 3px rgb(73 73 73);
    font-size: 15px;
    cursor: pointer;
    width: 42px;
    height: 18px;	
}
.modify-btn{
	border-radius: 0;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 3px 3px rgb(73 73 73);
    font-size: 15px;
    cursor: pointer;
    position: relative;
    left: 780px;
    top: -5px;
/*     width: 42px;
    height: 18px; */
}
.delete-btn{
	border-radius: 0;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 3px 3px rgb(73 73 73);
    font-size: 15px;
    cursor: pointer;
    position: relative;
    left: 780px;
    top: -5px;
}
.game-detail .small-footer #1{
	border-radius:15px;
	background-color: rgba(158, 158, 158, 0.74);
	
}
.game-detail .small-footer #2{
	border-radius:15px;
	background-color: rgba(158, 158, 158, 0.74);
	
}
.game-detail .small-footer #3{
	border-radius:15px;
	background-color: rgba(158, 158, 158, 0.74);
	
}
/* .small-footer #1{
	float: right;
}
.small-footer #2{
	float: center;
}
.small-footer #3{
	float: right;
}
 */
/* 리뷰 쓰기, 목록 */
.review_div{
	clear:both;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 30px;
}
.test{
	background-color:#E6E6E6;	
}
#re_form{
	margin-top: 8px;
}
.review_div .re-title{
	padding-top:10px;
	padding-bottom: 5px;
}
#output{
	 margin-top: 15px;
}

/* 게임등록
-------------------- */

/* .page-main1{
    margin-top: 15px;
    margin-left: 720px;
} */
.page-main1 h2{
	padding-left:35%;
	margin-top:30px;
	margin-bottom:-20px;	
} 
.form-admin{
	padding-left: 35%;
    padding-top: 30px;	
    margin: 0 auto;
}
page-main1 ul{
	list-style:none;
	margin:0;
	padding:0;
	display:block;
	margin-block-start:1em;
	margin-block-end:1em;
	margin-inline-start:0px;
	margin-inline-end:0px;
	padding-inline-start:40px;
	min-height: 50vh;
}
.page-main1 li{
	list-style: none;
	margin-left:10px;
	margin-bottom: 5px;
}

.page-main1 .align-center{
	float: left;
	margin-left:48%;
} 
.page-main1 ul li label{
 	float:left; 
	width:120px;	
}