@charset "UTF-8";

body{
	width:960px;
	background:#E6E6E6;
}
div.page-main{
	margin-bottom:10px;
	margin-top:10px;
	border:1px solid #FF0000; 
}
div.cart-main{
	float:left;
	width:65%;
	background:#FFFFFF;
	border:1px solid #fff;
}
div.cart-side{
	float:right;
	width:30%;
	border:1px solid #fff;
}
div.cart-sub{
	float:none;
	background:#FFFFFF;
	border:1px solid #fff;
}
div.price-total{
	float:none;
	background:#FFFFFF;
	border:1px solid #fff;
}
div.content-photo{
	height:1070px;
	align:center;
	background-image: url('../images/soon/background.jpg');
	background-repeat:no-repeat;;
	background-size:100%; 
	background-attachment:scroll;
}