@charset "UTF-8";

@font-face {
	src: url("../fonts/DungGeunMo.ttf");
	font-family: "DungGeunMo";
}

.btn{
	width: 100px;
	height: 25px;
	border-radius: 0;
	background: #fff;
	border: 1px solid #000;
	box-shadow: 3px 3px rgb(73, 73, 73);
	font-size: 15px;
	cursor: pointer;
}

body{
	background-color:#f5f5f5;
	color:#000;
	word-wrap:break-word;
	word-break:break-all;
	line-height:22px;
	margin:0;
	padding:0;
	font-size:13px;
	font-weight:400;
	font-family: "DungGeunMo";
}
li a:link{
	text-decoration:none;
	color:#fff87a;
}
li a:visited{
	text-decoration:none;
	color:#fff87a;
}
li a:hover{
	text-decoration:none;
	color:#a8a347;
}

.align-center{
	text-align:center;
	padding:0 0 0 20px;
	
}
.align-right{
	text-align:right;
}
/*-----------------------------------------*/


div.content-photo{
	width:960px;
	height:870px;
	margin:0 auto;
	align:center;
	background-attachment:scroll;
	padding: 50px;
}

div.cart-main{
	background-color: rgba(138,161,161,0.3);
	min-height:300px;
}
div.price-total{
	background-color: rgba(138,161,161,0.3);
	float:none;
	margin:20px 0 0 0;
	border:1px solid #000;
	font-size: 20px;
}
div.result-display{
	background-color: rgba(138,161,161,0.3);
	width:400px;
	height:200px;
	margin:0 auto;
	border:1px solid #000;
	display:flex;/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/	
}
.result-name{
	width:30%;
	display:flex;/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
	align-items:center;/*세로 정렬*/
	justify-content:left;/*가로 정렬*/
	margin: 0 0 50px 0;
}
.result{
	width:100%;
	height:40%;
	margin:0 auto;
	display:flex;/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/	
}
.cart-del{
	border-radius: 3px;
	background: red;
	color: white;
	border: 1px solid #fff;
}
.cart-del:hover{
	text-decoration:none;
	border: 2px solid #000;
}
#cart_order{
	width: 98%;
}

.shopping{
	margin: 10px auto;
}
