@charset "UTF-8";

body{
	width:960px;
	margin:0 auto;
	background:#E6E6E6;
}
div.page-main{
	width:90%;
	margin-bottom:10px;
	margin-top:10px;
	border:1px solid #FF0000; 
}
div.cart-main{
	float:left;
	width:65%;
	background:#FFFFFF;
	border:1px solid #000;
}
div.cart-side{
	float:right;
	width:30%;
	border:1px solid #000;
}
div.cart-sub{
	float:none;
	background:#FFFFFF;
	border:1px solid #000;
}
div.price-total{
	float:none;
	background:#FFFFFF;
	border:1px solid #000;
}