/* 전체 레이아웃
------------------------*/
body{
	width: 1000px;
	margin: 0 auto;
	/*background: #9673cd;*/
	background: #fff;
}

/* 게임 소개
--------------------- */

/* 검색 폼 */
form#search_form{
	border:none;
	padding-top:10;
	padding-bottom: 5;
}
ul.search{
	width:440px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}

/* 관리자 게임등록 */
.gameadmin a{
	text-decoration:none;
	color: gray;
}
/* 게임목록 */
.page-main{
	margin: 0 auto;
}
.image-space .horizontal-area{
	margin:2px;
	padding:3px;
	padding-bottom:10px;
	width:220px;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.image-space .horizontal-area img{
	width:215px;
	height:195px;
}
.image-space .float-clear{
	clear:both;
}
.image-space .float-clear{
	clear:both;
}
.image-space .horizontal-area a{
	text-decoration:none;
	color:black;
}
.gname{
	font-size: 15;
}
/* 페이지 번호 */
.align-center{
	text-align:center;
}
/* 강사님 */

/* 게임상세
-------------------- */
.detailpage-main{
	margin:0 auto;
	width: 1000px;
}
.detailpage-main h1{
 text-align:center;
}
.image-detail{
	text-align:center;	

}
.image-detail img{
	width:215px;
	height:195px;
}
